@use '../abstracts/colors' as *;
@use '../utils/media-mixins' as *;

$borderRadius: 0.25rem;

.dashboard {
  padding: 4rem;
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;

  .logo {
    width: 8.75rem;
  }

  @include tablet {
    width: 100%;
    padding: 2rem;
  }

  @include mobile {
    width: 100%;
    padding: 0.5rem;
    display: block;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: none;
    }

    &-logo {
      display: flex;
      align-items: center;

      .vertical-line {
        width: 0.0625rem;
        height: 1rem;
        background-color: $gray-natural;
        margin: 0 1rem;
      }

      p {
        color: $gray-dark-15;
        font-weight: 500;
      }

      .vertical-line,
      p {
        @include tablet {
          display: none;
        }
      }
    }

    &-autharea {
      display: flex;
      align-items: center;

      .vertical-line {
        width: 0.0625rem;
        height: 1rem;
        background-color: $gray-natural;
        margin: 0 1.5rem;
      }

      h4 {
        color: $gray-dark-10;
        font-weight: 500;

        .chevron {
          margin-left: 0.75rem;
          width: 1rem;
          cursor: pointer;
        }
      }

      .dropdown {
        &-trigger {
          padding: 0;
          margin-right: 10px;
        }
      }
      /*
      .dropdown {
        position: absolute;
        top: 6.15rem;
        right: 4rem;
        border-radius: $borderRadius;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      }
      */
    }
  }
}
