$bg-color: #fafafb;
$primary: #f46b3e;

$gray-light-15: #fafafb;
$gray-light-10: #f2f3f5;
$gray-light-5: #e5e7eb;
$gray-natural: #c4c4c4;
$gray-dark-5: #6b7280;
$gray-dark-10: #4b5563;
$gray-dark-15: #3a424e;

$success: #6cc070;
$warning: #ef9400;
$error: #d9534f;
