$bg-color: #fafafb;
$primary: #f46b3e;

$gray-light-15: #fafafb;
$gray-light-10: #f2f3f5;
$gray-light-5: #e5e7eb;
$gray-natural: #c4c4c4;
$gray-dark-5: #6b7280;
$gray-dark-10: #4b5563;
$gray-dark-15: #3a424e;

$black: #000;
$gray-100: #f8f9fa;
$gray-200: #eaecf0;
$gray-300: #c8ccd1;
$gray-400: #a2a9b1;
$gray-500: #72777d;
$gray-600: #54595d;
$gray-700: #202122;
$white: #fff;

$success: #6cc070;
$warning: #ef9400;
$error: #d9534f;
